@media (min-width: 700px) {
    header {
        grid-template-columns: 0.5fr minmax(0, 1fr) 0.5fr;
        grid-template-rows: auto;
        grid-template-areas: none;
        gap: 10px;
        padding: 0 15px;
    }

    header h1 {
        grid-area: auto;
        font-size: 1.75rem;
    }

    nav {
        grid-area: auto;
    }

    .hamburger {
        grid-area: auto;
        text-align: right;
    }

    nav ul {
        justify-content: space-around;
    }
}