@media screen and (min-width: 815px) {
    header {
        grid-template-columns: 0.5fr minmax(0, 1fr) 0.5fr;
        grid-template-rows: auto;
        grid-template-areas: none;
        gap: 10px;
        padding: 0 15px;
        min-height: 5rem;
        height: min-content;
    }

    header h1 {
        grid-area: auto;
        font-size: 1.75rem;
        margin-bottom: 10px;
    }

    nav {
        grid-area: auto;
        display: grid;
    }

    .hamburger {
        grid-area: auto;
        text-align: right;
    }

    nav ul {
        justify-content: space-around;
    }

    footer {
        width: 100%;
    }

    #missions {
        text-align: center;
        width: 100vh;
    }

    #missions>section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 15px;
    }

    .wide-span h2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (min-width: 1000px) {
    #missions>section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 15px;
    }

    .wide-span h2 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}