@media only screen and (min-width: 38rem) {
    /* ------------------------------ */

    /* Header */
    /* ------------------------------ */
    header {
        grid-template-columns: .5fr auto .5fr;
        justify-self: center;
        max-width: 900px;
        width: 100%;
    }

    header h1 {
        justify-self: center;
    }

    .hamburger {
        display: none;
    }

    /* ------------------------------ */

    /* Navigation */
    /* ------------------------------ */
    .navigation {
        display: block;
    }


    /* Body */
    /* ------------------------------ */
    section {
        text-align: center;
        border-radius: 7px;
    }

    section img {
        max-width: 250px;
    }

    .grid#city-info {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #spotlights {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        grid-row: 1 / 5;
        margin-bottom: 30%;
    }

    .form-container label {
        display: flex;
        flex-direction: column;
        width: 375px;
        text-align: left;
        padding: 10px;
    }

    .form-container input:not([type="radio"]) {
        width: 355px;
        max-width: 375px;
    }

    .form-container fieldset {
        display: flex;
        flex-direction: column;
        width: 375px;
        text-align: left;
        padding: 0;
        margin: 0;
        border: 1px #4d4d4da4 solid;
        border-radius: 7px;
    }

    .form-container fieldset legend {
        margin-left: 15px;
    }

    .form-container fieldset label {
        display: flex;
        flex-direction: row;
        width: 250px;
    }

    .form-container fieldset label input {
        margin-right: 10px;
    }

    .grid-layout {
        display: grid;
        grid-template-columns: 0.75fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .card-container {
        display: flex;
        justify-content: center;
    }

    .card {
        background-color: var(--secondary-color);
        color: var(--accent-color);
        max-width: 400px;
        width: 75%;
        height: 80%;
        border-end-end-radius: 7px;
        border-start-start-radius: 7px;
        padding-bottom: 7px;
    }

    dialog {
        max-width: 500px;
    }

    .modal_close {
        cursor: pointer;
    }

    .show_info_button {
        cursor: pointer;
        width: 44%;
        background-color: var(--accent-color-opaque1);
        color: white;
        padding: 5px;
        border-radius: 7px;
    }

    /* ------------------------------ */
}

@media only screen and (min-width: 40.063rem) {
    #discover {
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 64rem) {
    #discover {
        width: 100%;
        max-width: 900px;
        justify-self: center;
        justify-items: stretch;

        margin-left: auto;
        margin-right: auto;
        text-align: initial;
        padding: 0 18px;

        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6"
            "card7 card8 card8";
    }

    #discover .discover-card {
        width: 100%;
        max-width: none;
        justify-self: stretch;
    }

    #discover>* {
        margin-left: 0;
        margin-right: 0;
    }
}