@media only screen and (min-width: 38rem) {
    /* ------------------------------ */

    /* Header */
    /* ------------------------------ */
    header {
        grid-template-columns: .5fr auto .5fr;
        justify-self: center;
        max-width: 900px;
        width: 100%;
    }

    header h1 {
        justify-self: center;
    }

    .hamburger {
        display: none;
    }

    /* ------------------------------ */

    /* Navigation */
    /* ------------------------------ */
    .navigation {
        display: block;
    }


    /* Body */
    /* ------------------------------ */
    section {
        text-align: center;
        border-radius: 7px;
    }

    section img {
        max-width: 250px;
    }

    /* ------------------------------ */
}