/* ************************* Colors ************************* */

/* Style Guide */
/* ----------------------------------- */
/* Base: #F5F6FA      */
/* Highlight: #00B8D9 */
/* Secondary: #181E2F */
/* Accent: #FF7F50    */
/* ----------------------------------- */

/* Variables */
/* ----------------------------------- */
:root {
    --base-color-1: #F5F6FA;
    --base-color-2: #22323F;
    --highlight-color: #00B8D9;
    --secondary-color: #181E2F;
    --accent-color: #FF662E;
    --accent-color-opaque1: #FF7F5066;
    --accent-color-opaque2: #FF7F501A;
    --default-shadow: 0px 0px 5px 1px rgb(0 0 0 / 20%);
}

/* ----------------------------------- */

/* ****************************************************** */

/* *********************** General *********************** */
* {
    font-family: Roboto, Momo Trust Sans, Duru Sans, Raleway;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

main,
nav,
footer {
    max-width: 900px;
    margin: 0 auto;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 18px;
    text-align: center;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* ******************************************************* */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
}

/* *********************** Header *********************** */
/* Tag Rules */
/* ----------------------------------- */
header {
    /* display contents in a 3 column 1 row grid */
    display: grid;
    grid-template-columns: auto 1fr auto;

    /* Align header contents */
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: center;
    margin-top: 5px;

    /* Color background to see text and img */
    background-color: var(--base-color-1);

    /* Sizing */
    height: 6vh;
    min-height: max-content;
    width: 100%;
}

header h1 {
    margin-top: 12px;
}

/* home svg */
header img {
    display: block;

    /* scale without warping */
    width: 150px;
    height: auto;
}

header img:hover {
    cursor: pointer;
}

/* site title */
header span {
    color: var(--secondary-color);
    margin-left: 15px;
    font-weight: 700;
    font-size: 1.5em;
}

/* ----------------------------------- */

/* Class Rules */
/* ----------------------------------- */
.hamburger {
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: '\00D7';
}

.nav-button::after {
    content: "≡";
}

/* ----------------------------------- */
/* ****************************************************** */

/* ********************* Navigation ********************* */
/* Tag Rules */
/* ----------------------------------- */
nav {
    background-color: var(--base-color-2);
    padding: 1rem 18px;
}

/* ----------------------------------- */

/* Class Rules */
/* ----------------------------------- */
.navigation {
    margin-top: 5px;
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    height: 6vh;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2px;
}

.navigation a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: larger;
    font-weight: 600;
    color: var(--accent-color);
}

.navigation li:hover {
    transform: scale(1.02);
    text-decoration: overline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 2px;
    animation: breathe 3s ease-in-out infinite alternate;
}

.navigation li.active a {
    text-decoration: overline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 2px;
}

.navigation li.active {
    animation: breathe 3s ease-in-out infinite alternate;
}

/* ----------------------------------- */
/* ****************************************************** */

/* *********************** Footer *********************** */
/* Tag Rules */
/* ----------------------------------- */
footer {
    background-color: var(--base-color-2);
    padding: 1rem 18px;
    text-align: center;
    color: var(--accent-color);
}

/* ----------------------------------- */

/* Class Rules */
/* ----------------------------------- */
.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    border-radius: 7px;
    padding: 5px 0;
    border: 1px solid var(--accent-color-opaque2);
}

.social a:hover {
    background-color: rgb(0 0 0 / 10%);
    border: 1px solid var(--accent-color-opaque1);
}

.social img {
    width: 22px;
    height: 22px;
}

/* ----------------------------------- */

/* ****************************************************** */

/* ************************* Body *************************** */
/* Tag Styles */
/* ----------------------------------- */
section:not(#spotlight-section) {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: var(--default-shadow);
}

section div {
    padding: 3px;
}

/* ----------------------------------- */

/* Class Styles */
/* ----------------------------------- */
.page-heading {
    text-align: center;
}

.relative {
    position: relative;
}

.hero-image picture {
    margin-top: 150px;
}

.fnt-med {
    font-size: xx-large;
}

.white {
    color: #FFF;
}

.mt-25 {
    margin-top: 25px;
}

.max-900 {
    max-width: 100%;
}

.absolute {
    position: absolute;
    top: 30px;
    left: 14px;
}

.centered-table {
    text-align: center;
    justify-self: center;
}

.centered-table th {
    width: 33.3%;
    text-decoration: underline;
}

.list {
    justify-self: center;
}

.member-level {
    display: none;
}

.list img {
    display: none;
}

.list section {
    display: grid;
    grid-template-columns: 250px 140px 140px auto;
    text-align: left;
}

.list section div {
    word-wrap: break-word;
}

.control-button {
    border: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    justify-self: center;
    text-align: center;
    padding: 0;
}

.row li {
    margin-left: 15px;
    margin-right: 15px;
}

.controls img:hover {
    transform: scale(1.1);
}

#city-info {
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

#weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather img {
    height: 77px;
    width: 77px;
    filter: drop-shadow(2px 2px 3px #0d0d0d9f);
}

section img {
    max-height: 175px;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30%;
    justify-content: center;
    margin-bottom: 15%;
}

.form-container label {
    display: flex;
    flex-direction: column;
    width: 375px;
    text-align: left;
    padding: 10px;
}

.form-container input:not([type="radio"]) {
    width: 355px;
    max-width: 375px;
}

.form-container fieldset {
    display: flex;
    flex-direction: column;
    width: 375px;
    text-align: left;
    padding: 0;
    margin: 0;
    border: 1px #4d4d4da4 solid;
    border-radius: 7px;
}

.form-container fieldset legend {
    margin-left: 15px;
}

.form-container fieldset label {
    display: flex;
    flex-direction: row;
    width: 250px;
}

.form-container fieldset label input {
    margin-right: 10px;
}

.grid-layout {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.card-container {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.card {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    max-width: 400px;
    width: 75%;
    height: 120px;
    border-end-end-radius: 7px;
    border-start-start-radius: 7px;
    padding-bottom: 7px;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

dialog {
    max-width: 500px;
}

.modal_close {
    cursor: pointer;
}

.show_info_button {
    cursor: pointer;
    width: 44%;
    background-color: var(--accent-color-opaque1);
    color: white;
    padding: 5px;
    border-radius: 7px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

label,
fieldset,
input {
    align-self: center;
}

.styleless-list {
    list-style: none;
}

.space {
    padding: 10px;
}

.thankyou {
    background-color: var(--base-color-2);
    color: var(--accent-color);
    max-width: 75%;
    justify-self: center;
    text-align: center;
    padding: 0;
    border-radius: 7px;
    box-shadow: var(--default-shadow);
}

/* ----------------------------------- */

/* ********************************************************** */

/* Animations */
/* ------------------------------ */
@keyframes breathe {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ------------------------------ */

/* Discover Page */

/* ************************** Discover ************************** */
/* Discover Cards */
/* ----------------------------------- */
#discover {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6"
        "card7"
        "card8";
}

#discover .discover-card {
    min-width: 0;
}

#discover img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.discover-card:nth-child(1) {
    grid-area: card1;
}

.discover-card:nth-child(2) {
    grid-area: card2;
}

.discover-card:nth-child(3) {
    grid-area: card3;
}

.discover-card:nth-child(4) {
    grid-area: card4;
}

.discover-card:nth-child(5) {
    grid-area: card5;
}

.discover-card:nth-child(6) {
    grid-area: card6;
}

.discover-card:nth-child(7) {
    grid-area: card7;
}

.discover-card:nth-child(8) {
    grid-area: card8;
}

/* ----------------------------------- */
/* ********************************************************** */