/* ************************* Colors ************************* */

/* Style Guide */
/* ----------------------------------- */
/* Base: #F5F6FA      */
/* Highlight: #00B8D9 */
/* Secondary: #1f2A44 */
/* Accent: #FF7F50    */
/* ----------------------------------- */

/* Variables */
/* ----------------------------------- */
:root {
    --base-color-1: #F5F6FA;
    --base-color-2: #2C3E50;
    --highlight-color: #00B8D9;
    --secondary-color: #1f2A44;
    --accent-color: #FF7F50;
    --accent-color-opaque1: #FF7F5066;
    --accent-color-opaque2: #FF7F501A;
}

/* ----------------------------------- */

/* ****************************************************** */

/* *********************** General *********************** */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ******************************************************* */

/* *********************** Header *********************** */
/* Tag Rules */
/* ----------------------------------- */
header {
    /* display contents in a 3 column 1 row grid */
    display: grid;
    grid-template-columns: 24px auto 44px;

    /* Align header contents */
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: center;

    /* Color background to see text and img */
    background-color: var(--base-color-1);

    /* Sizing */
    height: 6vh;
}

/* home svg */
header img {
    /* display correctly */
    display: block;

    /* scale without warping */
    width: 35px;
    height: auto;
}

header img:hover {
    cursor: pointer;
}

/* site title */
header span {
    color: var(--secondary-color);
    margin-left: 15px;
    font-weight: 700;
    font-size: 1.5em;
}

/* ----------------------------------- */

/* Class Rules */
/* ----------------------------------- */
.hamburger {
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: '\00D7';
}

/* ----------------------------------- */
/* ****************************************************** */

/* ********************* Navigation ********************* */
/* Tag Rules */
/* ----------------------------------- */
nav {
    background-color: var(--base-color-2);
    padding: 1rem 18px;
}

/* ----------------------------------- */

/* Class Rules */
/* ----------------------------------- */
.navigation {
    margin-top: 5px;
    display: none;
    margin-bottom: 50px;
}

.navigation.show {
    display: block;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    height: 6vh;
}

.navigation a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: larger;
    font-weight: 600;
    color: var(--accent-color);
}

.navigation li:hover {
    transform: scale(1.02);
    text-decoration: overline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 2px;
    animation: breathe 3s ease-in-out infinite alternate;
}

.navigation ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2px;
}

/* ----------------------------------- */
/* ****************************************************** */

/* *********************** Footer *********************** */
/* Tag Rules */
/* ----------------------------------- */
footer {
    background-color: var(--base-color-2);
    padding: 1rem 18px;
    text-align: center;
    color: var(--accent-color);
}

/* ----------------------------------- */

/* Class Rules */
/* ----------------------------------- */
.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    border-radius: 7px;
    border: 1px solid var(--accent-color-opaque2);
}

.social a:hover {
    background-color: rgb(0 0 0 / 10%);
    border: 1px solid var(--accent-color-opaque1);
}

.social img {
    width: 22px;
    height: 22px;
}

/* ----------------------------------- */

/* ****************************************************** */