/* ************************* Colors ************************* */

/* Style Guide */
/* ----------------------------------- */
/* Base: #F5F6FA      */
/* Highlight: #00B8D9 */
/* Secondary: #181E2F */
/* Accent: #FF7F50    */
/* ----------------------------------- */

/* Variables */
/* ----------------------------------- */
:root {
    --base-color-1: #F5F6FA;
    --base-color-2: #22323F;
    --highlight-color: #00B8D9;
    --secondary-color: #181E2F;
    --accent-color: #FF662E;
    --accent-color-opaque1: #FF7F5066;
    --accent-color-opaque2: #FF7F501A;
    --default-shadow: 3px 3px 3px 2px rgb(0 0 0 / 20%);
}

/* ----------------------------------- */

/* ****************************************************** */

/* *********************** General *********************** */
* {
    font-family: Roboto, Momo Trust Sans, Duru Sans, Raleway;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* ******************************************************* */

/* *********************** Header *********************** */
/* Tag Rules */
/* ----------------------------------- */
header {
    /* display contents in a 3 column 1 row grid */
    display: grid;
    grid-template-columns: 24px auto 44px;

    /* Align header contents */
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: center;
    margin-top: 5px;

    /* Color background to see text and img */
    background-color: var(--base-color-1);

    /* Sizing */
    height: 6vh;
}

header h1 {
    margin-top: 12px;
}

/* home svg */
header img {
    /* display correctly */
    display: block;

    /* scale without warping */
    width: 35px;
    height: auto;
}

header img:hover {
    cursor: pointer;
}

/* site title */
header span {
    color: var(--secondary-color);
    margin-left: 15px;
    font-weight: 700;
    font-size: 1.5em;
}

/* ----------------------------------- */

/* Class Rules */
/* ----------------------------------- */
.hamburger {
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: '\00D7';
}

/* ----------------------------------- */
/* ****************************************************** */

/* ********************* Navigation ********************* */
/* Tag Rules */
/* ----------------------------------- */
nav {
    background-color: var(--base-color-2);
    padding: 1rem 18px;
}

/* ----------------------------------- */

/* Class Rules */
/* ----------------------------------- */
.navigation {
    margin-top: 5px;
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    height: 6vh;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2px;
}

.navigation a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: larger;
    font-weight: 600;
    color: var(--accent-color);
}

.navigation li:hover {
    transform: scale(1.02);
    text-decoration: overline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 2px;
    animation: breathe 3s ease-in-out infinite alternate;
}

/* ----------------------------------- */
/* ****************************************************** */

/* *********************** Footer *********************** */
/* Tag Rules */
/* ----------------------------------- */
footer {
    background-color: var(--base-color-2);
    padding: 1rem 18px;
    text-align: center;
    color: var(--accent-color);
}

/* ----------------------------------- */

/* Class Rules */
/* ----------------------------------- */
.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    border-radius: 7px;
    padding: 5px 0;
    border: 1px solid var(--accent-color-opaque2);
}

.social a:hover {
    background-color: rgb(0 0 0 / 10%);
    border: 1px solid var(--accent-color-opaque1);
}

.social img {
    width: 22px;
    height: 22px;
}

/* ----------------------------------- */

/* ****************************************************** */

/* ********************** Content *********************** */
/* Tag Rules */
/* ----------------------------------- */
section {
    padding: 5px;
    justify-items: center;
}

/* ----------------------------------- */

/* Class Rules */
/* ----------------------------------- */
.section-header {
    padding-left: 5px;
}

.section-header h2 {
    margin-top: 15px;
}

h2 {
    padding: 5px;
}

.section-body {
    width: 100%;
}

.entry {
    padding: 0 5px;
}

.entry-header {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 7px;
    box-shadow: var(--default-shadow);
}

.entry-header h3 {
    padding: 5px;
}

.entry-content {
    padding: 0 5px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row button {
    width: 28%;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 12px 0;
}

#prog_course_container {
    padding-left: 0;
    /* remove the default left padding */
    padding-right: 0;
    /* optional, just to be safe */
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    /* remove bullets */
}

.key {
    background-color: var(--secondary-color);
    color: var(--base-color-1);
    text-align: center;
    width: 45%;
    padding: 5px 0 5px 0;
    border-radius: 7px;
    justify-self: center;
}

.course-container {
    align-self: center;
    max-width: 85%;
    width: 100%;
    padding: 6px;
    background-color: var(--secondary-color);
    border-radius: 7px;
    margin: 5px auto;
    color: var(--accent-color);
    list-style: none;
}

.course.completed::after {
    content: " ✓";
    color: #3f3;
    font-weight: bold;
}

.course.incomplete::after {
    content: " ✗";
    color: #f33;
    font-weight: bold;
}

.green {
    color: #3f3;
}

.red {
    color: #f33;
}

img {
    display: flex;
    justify-self: center;
    max-width: 90%;
    border-radius: 7px;
    border: solid 2px var(--accent-color-opaque2);
}

/* ----------------------------------- */
/* ****************************************************** */