@media only screen and (min-width: 38rem) {

    /* General */
    /* ------------------------------ */
    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    /* ------------------------------ */

    /* Header */
    /* ------------------------------ */
    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    /* ------------------------------ */

    /* Navigation */
    /* ------------------------------ */
    .navigation {
        display: block;
    }

    /* ------------------------------ */

    /* Body */
    .large-grid {
        display: grid;
        grid-template-columns: 55% auto;
        grid-template-rows: 45px 100%;
        margin-bottom: 35px;
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    .section-header {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .section-header h2 {
        margin: 8px 0 0 0;
        padding: 0 0 0 7px;

    }

    .about {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .photo {
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

/* Animations */
/* ------------------------------ */
@keyframes breathe {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

/* ------------------------------ */