@media only screen and (min-width: 38rem) {

    /* General */
    /* ------------------------------ */
    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    /* ------------------------------ */

    /* Header */
    /* ------------------------------ */
    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    /* ------------------------------ */

    /* Navigation */
    /* ------------------------------ */
    .navigation {
        display: block;
    }

    /* ------------------------------ */
}

/* Animations */
/* ------------------------------ */
@keyframes breathe {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

/* ------------------------------ */