@media only screen and (max-width: 24.375rem) {

    /* Header */
    /* ------------------------------ */
    header span {
        font-size: 1em;
    }

    /* ------------------------------ */

}

@media only screen and (max-width: 12.5rem) {

    /* Header */
    /* ------------------------------ */
    header {
        padding-bottom: 15px;
    }

    /* ------------------------------ */

}

@media only screen and (max-width: 35rem) {
    .navigation {
        height: 18.8vh;
        text-align: center;
    }

    .navigation ul {
        flex-direction: column;
        padding-left: 0;
    }

    .navigation li {
        padding-top: 20px;
        font-size: larger;
    }
}

@media only screen and (max-width: 13.125rem) {
    .navigation {
        height: 22vh;
    }
}